body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  color: #40514E;
}
hr{
  margin: 100px auto;
}
 
p{
  line-height: 2;
}

a{
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  
}

a:hover{
  color: #eaf6f6;
}

h1 {
  /* To set font size in percentage 
    100% =16px then ,
    90px= 90px/16=562.5
    
    also 1em=16px*/

       color: #66BFBF;
       font-size: 5.625rem;
       font-family: "Sacramento", cursive;
       margin-top: 50px auto 0 auto;
       line-height: 2;
      

}
h2 {
  color:#66BFBF ;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row{
  margin: 100px auto 100px auto;
  width:50% ;
  text-align: left;
  line-height: 2;
  
}

.trading-img{
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;

}

.sample-img{

  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;

}

.profile-img{
  margin-top: 30px;
}

hr{
  margin-top: 20px;
  border-style: none;
  border-top-style:dotted;
  width: 5%;
  border-width: 8px;
  border-color: grey;
  
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer-link{
  color: #11999E;
}

.copyright{
  color: azure;
  font-size: 0.7rem;
  padding: 20px 0;
}

.intro{
  margin: auto;
  width: 30%;
}

.contact-msg{
  margin: 40px auto 60px;
  width: 40%;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}